.ingresso-container {
  padding: 30px;
  margin-left: 240px;
  display: flex;
  justify-content: center;
}

.ingresso-content {
  width: 100%;
  max-width: 700px;
  color: #111;
}

.ingresso-info {
  background: white;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #111;
}

.ingresso-info h1 {
  margin-bottom: 10px;
  color: #1F6E3C;
  border-bottom: 2px solid #494646;
  padding-bottom: 12px;
}

.back-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 24px;
}


.info-item {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid #504d4d;
  color: #111;
}

.info-item:last-child {
  border-bottom: none;
  color: #111;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #111;
}

.campo input {
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.comprar-btn {
  margin-top: 15px;
  padding: 14px;
  background: #1F6E3C;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.comprar-btn:hover {
  background: #145a32;
}

.ingresso-total-valor {
  color: #000000; 
}