.produto-container {
  padding: 30px;
  margin-left: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto-carousel {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 0;
}

.produto-imagem {
  width: 350px;
  border-radius: 12px;
  margin-top: 170px;
}

.seta-btn {
  font-size: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.comprar-btn {
  margin-top: 30px;
  padding: 12px 30px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.comprar-btn:hover {
  background: #145a32;
}

.produto-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.produto-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  padding-top: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campo input,
.campo select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.frete-btn {
  margin-top: 10px;
  padding: 10px;
  background: #646464;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}